/* FloatingLabelInput.css */
input.pt-6 + label {
  top: -20px; /* Adjust this value as needed */
}

label {
  pointer-events: none; /* Prevent label from being clicked */
}
.scroll {
  overflow-y: auto; /* Enable vertical scrolling */
  scrollbar-width: none; /* For Firefox */
  -ms-overflow-style: none; /* For IE and Edge */
}

/* Hide scrollbar for WebKit browsers */
.scroll::-webkit-scrollbar {
  display: none;
}
html {
  scroll-behavior: smooth;
}
.backdrop-blur-sm {
  backdrop-filter: blur(5px);
}
.bottom-component {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.3s ease, top 0.3s ease;
}

.bottom-component.visible {
  opacity: 1;
  top: 50%;
}





